
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  margin-top: 1rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 8px;
  border-width: 0px;
  padding: 0.75rem ;
  background-color: #2463c2;
  color: white;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
button:hover,
button:focus,
button:active {
  background-color: #3781f1;
}
button:disabled {
  background-color: #cccccc;
}


input {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 8px;
  border-width: 1px !important;
  border-style: solid;
  padding: 0.75rem;
  border-color: #cccccc;
  transition: border-color 0.25s ease;
  cursor: pointer;
  outline: none;
}
input:hover,
input:focus,
input:active {
  border-color: #3781f1;
}
