.skills, .values {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skill {
  flex-basis: 33%;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
}

.skill:first-child {
  padding-left: 0;
}

.skill:last-child {
  padding-right: 0;
}

.skill > div {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 1.25rem 1rem;
}

.skill h4 {
  margin-top: 0;
}

.skill ul {
  padding-left: 1.25rem;
}

.value {
  flex-basis: 50%;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
}

.value > p {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 1.25rem 1rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
}

.hero {
  text-align: center;
  margin: 1.5rem auto;
}

.hero p {
  max-width: 300px;
  margin: auto;
}

.showcase {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  transition: border-color 0.15s ease;
}

.showcase span {
  border-top-left-radius: 7px;
  border-bottom-right-radius: 8px;
  padding: 1rem;
  background-color: #eeeeee !important;
  color: black !important;
}

.showcase:hover,
.showcase:focus,
.showcase:active {
  border-color: inherit;
}

@media (max-width: 600px) {
  .skills, .values {
    width: 100%;
    flex-direction: column;
  }
  .skill > div {
    width: 100%;
  }
}
